---
layout: default
---

<div class="container">
  <div class="row">
    <div class="col col-10 col-w-12">
      <div class="post__head">
  
        <div class="post__meta">
          {% if page.tags.size >= 1 %}
          <div class="post__tags">
          {% for tag in page.tags %}
            <a href="{{ site.baseurl }}/tags/?tag={{ tag | downcase | url_encode }}" class="post__tag">{{ tag }}</a>
          {% endfor %}
          </div>
          {% endif %}
          <span class="article__date">•<time datetime="{{ page.date | date_to_xmlschema }}">{% assign month = page.date | date: "%-m" | minus: 1 %}{{ page.date | date: "%d" }} {{ site.data.settings.months[month] }} {{ page.date | date: "%Y" }}</time></span>
        </div>
  
        {% if page.title %}
        <h1 class="post__title">{{ page.title | escape }}</h1>
        {% endif %}
  
        {% if page.description %}
        <div class="post__description">{{ page.description }}</div>
        {% endif %}
      </div>

    </div>
  </div>
</div>

<!-- begin post -->
<div class="container">

  <div class="row">
    <div class="sidebar-left col col-3 col-w-4 col-d-12">
      <aside class="sidebar">
        {% include sidebar-widgets/widget-post-author.html %}
        {% include sidebar-widgets/widget-featured-posts.html %}
        {% include sidebar-widgets/widget-tags.html %}
      </aside>
    </div>

    <div class="col col-9 col-w-8 col-d-12">
      <article class="post">
    
        {% if page.video_embed %}
        <div class="post-video">
          <div class="post-video__wrap">
            <iframe src="{{ page.video_embed }}" loading="lazy" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>

        {% else %}

        {%if page.image %}
        <div class="post-image">
          <img class="lazy" data-src="{{page.image | prepend: site.baseurl}}" alt="{{page.title}}">
        </div>
        {%endif %}

        {% endif %}

        <div id="table-of-contents">
          <h2 id=toc>Índice de Contenidos</h2>
          {% toc %}
        </div>

        <div class="post__content">
          {{ content }}
        </div>

        {% if page.share %}
          {% include share-buttons.html %}
        {% endif %}

      </article>
    </div>

  </div>
</div>
<!-- end post -->

{% include post-navigation.html %}

{% include related-posts.html %}

{% if site.data.settings.disqus_identifier and page.comments %}
  {% include disqus-comments.html %}
{% endif %}